$break-xs-max: 576px;
$break-sm-min: 576px;
$break-sm-max: 767px;
$break-md-min: 768px;
$break-md-max: 991px;
$break-lg-min: 992px;
$break-lg-max: 1199px;
$break-xl-min: 1200px;

$card-ht-sm: 160px;

$card-ht-md: 200px;

$card-ht-lg: 240px;

$card-ht-xl: 270px;